* {
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    display: block;
}
body {    
    background-color: #fff;
    color: #24292e;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    font-size: 14px;
    line-height: 1.5;
}
a {
    color: #0366d6;
    text-decoration: none;
    background-color: transparent;
}

div {
    display: block;
}

input {
    width: 25%;
    font-weight: 600!important;
    height: 35px;
}


/**-----admin-------**/
.input100 {

  color: #555555;
  line-height: 1.2;
  font-size: 18px;

  display: block;
  width: 100%;
  background: transparent;
  height: 55px;
  padding: 0 20px 0 20px;
}
.wrap-input100 {
    width: 100%;
    background-color:#fff;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    margin-bottom: 36px;
}
.txt1 {
    font-size: 13px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.login100-form-title {
    font-size: 30px;
    color: #555;
    width: 100%;
    display: block;
    padding-bottom: 32px;
    text-align: left;
}
.limiter {
    width: 100%;
    align-item: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
}
.admin-login {
    position: relative;
    width: 560px;
    background-color: #ebebeb;
    padding: 55px;
}
.admin-div {
    min-height: 34px;
    margin: 5px 0;
}
.preview-content {
    min-height: 390px;
}
.from-content {
    height: 390px;
    max-height: 500px;
    min-height: 100px;
    padding: 8px;
    resize: vertical;
    width: 100%;
}
.js-previewable-form {
    padding: 6px 8px;
}
.tabnav-tabs {
    margin-bottom: -1px;
}
.comment-form-head, .tabnav{
    background: #f6f8fa;
    border-radius: 3px 3px 0 0;
    padding: 6px 10px 0;
    border: 1px solid #dfe2e5;
}
.tabnav {
    margin-bottom: 15px;
    margin-top: 0;
}

.input-block {
    display: block;
    width: 100%;
    font-weight: 600!important;
}

.form-control, .form-select {
    background-color: #fff;
    background-position: right 8px center;
    background-repeat: no-repeat;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
    color: #24292e;
    font-size: 16px;
    line-height: 20px;
    min-height: 34px;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
    min-width: 740px;
}
.ul-head {
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.float-right {
    float: right!important;
}
.li-btn {
    background: #dfe2e5;
    border: 0;
    border-radius: 1px;
    color: #444d56;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    height: 12px;
    line-height: 6px;
    padding: 0 5px 5px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 3px;
}
.menu {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    list-style: none;
    margin-bottom: 15px;
  }
  .admin-main {
      max-width: 1012px;
      margin-left: auto;
      margin-right: auto;
      display: flex!important;
      content: "";
  }

  .admin-side {
  
      width: 25%;
      padding: 10px;
      margin-top: 20px;
  }
  
  .admin-side nav {
    background-color: #fff;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    list-style: none;
  }
  .menu-item {
    border-bottom: 1px solid #e1e4e8;
    display: block;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
  }
  .admin-body {
      width: 75%;
      margin-top: 20px;
  }
  
.admin-ul {
    padding-left: 0;
    list-style: none;
}

.admin-li {
    padding: 10px;
    border-bottom: 1px solid #e1e4e8;
    line-height: 23px;
}


  .admin-from {
    background: #fafafa;
    color: #2e2e2e;
    border: 1px solid #e5e5e5;
    margin: 20px;
    padding: 10px;
  }
  
  .btn {
    border-radius: 3px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    background-color: #DCDCDC;
    border-color: #e5e5e5;
    color: #2e2e2e;
    transition: background-color 100ms linear, border-color 100ms linear, color 100ms linear, box-shadow 100ms linear;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .title {
      height: 35px;
      margin: 10px;
      width: 60%;
  }
  
  .content {
  
    height: 100px;
    width: 80%;
  }