body {
    font-size: 13px;
    margin: 0px;
    overflow: hidden;
}
div {
    display: block;
}
a {
    display: block;
    text-decoration: none;
}
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-top: 0;
}
header {
    position: relative;
    background-color: #25313e;
    min-height: 50px;
}
strong {
    font-weight: bold;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    text-align: left;
    display: table-cell;
    font-weight: bold;
}
/* 大框架 */
.jbox {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
}
.slimScrolldiv li>a{
    border-top:1px solid transparent;
    border-color: rgba(255,255,255,0.05);
    padding: 11px 15px;
    font-size: 14px;
    display: block;
    cursor: pointer;
    color: #adbece;
}
.slimScrolldiv li {
    line-height: 1.5;
    display: block;
}
.slimScrolldiv li>a>i {
    width: 44px;
    line-height: 44px;
    float: left;
    margin: -12px -15px;
    margin-right: 10px;
    border-right: 1px solid rgba(255,255,255,0.05);
    text-align: center;
    position: relative;
}

.slimScrolldiv {
    position: relative;
    width: auto;
    height: 100%;
    list-style: none;
}
.left-aside{
    background-color: #41586e;
    height: 100%;
    color: #9db1c5;
    width: 220px;
    display: table-cell;
    vertical-align: top;
}
.main-down {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.navbar-header {
    width:220px;
    float: left;
    color: #9db1c5;
    text-align: center;
    font-size: 25px;
}

.main-section {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    position: relative;
}
/* 右侧 */
.pannel {
    border-radius: 2px;
    border-color: #bce8f1;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
}
.panel-heading {
    border-bottom: 1px solid #cfcfcf;
    border-color: #e4e4e4;
    background-color: #fff;
    color: #717171;
    min-height: 50px;
    padding: 0 15px;
}
.panel-heading p {
    margin-top: 15px;
    display: inline-block;
}
.padder {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 2%;
}
.admin-ul {
    padding-left: 0;
    list-style: none;
}

.admin-li {
    padding: 10px;
    border-bottom: 1px solid #e1e4e8;
    line-height: 23px;
}
.ul-head {
    border-bottom: 1px solid #e1e4e8;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.right-content {
    padding: 0 !important;
    vertical-align: top;
    height: 100%;
    float: none;
}
.scrollable {
    padding: 15px;
}

.panel {
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.panel-default {
    border-color: #e8e8e8;
}
.table-responseive {
    margin-bottom: 0;
    border: 0;
}
.table-striped>thead th {
    background: #f5f5f5;
    border-right: 1px solid #f1f1f1;
    border-bottom: 1px solid #ebebeb;

}
.table {
    width: 100%;
    font-size: 13px;
    font-family: sans-serif;

}

.table th {
    padding: 6px 15px;
}
.table td {
    padding: 6px 15px;
}
